.Upload {

  margin-top: 30px;
  width: 90%;
  /* padding: 40px 15px; */
  background-color: rgba(245, 245, 240, 0.877);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3px;
  transition: box-shadow .25s;
  box-shadow: 0 8px 97px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-left-radius: 30px;
  
}
.Upload .imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: visible;
  width: 80%;
}
.Upload .imgs img {
  width: 95%;
  max-width: 500px;
  max-height: 400px;
  margin: 20px 10px;
  cursor: pointer;
  transition: box-shadow .25s;
  box-shadow: 0 8px 97px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Upload .imgs img:hover {

  box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.2), 4px 6px 2px 0 rgba(0, 0, 0, 0.19);

animation: photo-giggle infinite 2000ms linear;

}
  @keyframes photo-giggle {
    from { 
      /* max-width: 500px; */
      /* max-height: 400px; */
    }
    to {
      /* max-width: 520px; */
      /* max-height: 420px; */
      transition: box-shadow .25s;
      box-shadow: 0 8px 97px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

.Upload > .info {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 30px 20px; */
  width: 90%;
  background-color: rgba(255, 255, 255, 0.719);
  transition: box-shadow .25s;
  /* box-shadow: 198px 7px 197px 1px rgba(0, 0, 0, 0.2), 4px 4px 42px 10px rgba(0, 0, 0, 0.19); */
  box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.2), 4px 6px 2px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  padding-top: 20px;
  margin-top: 30px;
}
.Upload > .info p {
  width: 90%;
  margin: 10px 0;
  padding: 30px 20px;
  /* background-color: rgba(255, 255, 0, 0.671); */
}

.upload-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(184, 184, 241);
  /* border-radius: 30px; */
  /* border-bottom-left-radius: 0; */
  /* border-bottom-right-radius: 0; */
  /* border-top-left-radius: 30px; */
  border-top-left-radius: 25px;

}
.upload-title {
  width: 50%;
  /* margin-left: 30px; */
}
.upload-title button {
  border-top-left-radius: 30px;
  width: 100%;
}
.upload-header button {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
}
.upload-header button:hover {
  background-color: rgba(255, 255, 0, 0.185);
}
.upload-details {
  margin-top: 20px;
  text-align: center;
}
.Upload .upload-buttons {
  /* margin-right: 30px; */
}
span.upload-photo-count {
  padding: 10px 20px;
}