.UploadList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 420px;
}
.UploadList .sort_count {
  background-color: rgba(235, 235, 221, 0.555);
  border-radius: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px;
  margin-left: -8px;
  align-content: center;
  padding: 1px;
}
.UploadList .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border-bottom-left-radius: 2px; 
  border-bottom-right-radius: 2px; 
}
button.sorter {
  width: 20%;
  border: none;
  padding: 5px;
  margin: 0 10px;
  margin-top: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 4px;
}
button.sorter.active {
  background-color: rgb(233, 211, 139);
}
button.sorter:hover > .sort_count {
  background-color: white;
  color: rgb(134, 115, 115);
}
.UploadList .empty-filter {
  color: rgb(214, 205, 205);
  margin-top: 120px;
  font-size: 50px;
  letter-spacing: 20px;
  text-align: center;
}

@media screen and (max-width: 620px) {
  .UploadList .buttons > button.sorter {
  }
  button.sorter {
    width: 24%;
  }
}

