.UploadList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.UploadList .sort_count {
  background-color: rgba(235, 235, 221, 0.555);
  border-radius: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px;
  /* margin-bottom: 5px; */
  margin-left: -8px;
  align-content: center;
  padding: 1px;
}
button.sorter:hover > .sort_count {
  background-color: white;
  color: rgb(134, 115, 115);
}
